.TestClass {
    height: 304px;
    width: 304px;
    float: left;
    max-width: 100vw;
    position: relative;
    text-align: left;
    background:#000;
}
body{
    font-family:"Gotham A", "Gotham B", "Open Sans", Helvetica, sans-serif;
    color:#42515a;
}
ul{
    margin-left:10px;
}
ul li{
    list-style:none;
}
.alert {
    border:none;
    padding-left:0;
    margin-bottom:0;
      padding-top:0;
    padding-bottom:0;
    /*display:none !important;*/
}

.alert-error {
    color: #b94a48;
    background: none;

}
.alert-error h4{
    display:none;
    margin-bottom:0;
}
.push4{
    padding-left:0 !important;
}
input[type="text"],input[type="tel"] {
    border:1px solid #42515a;
    border-radius:0;
}
.control-label{
    font-weight:bold;
}
input[type="text"]:focus{
    box-shadow: 0 0 7px #0b7f81 !important;
}
body.v2 #payment_request_expiry_date{
    width:230px;
}
@media only screen and (max-width: 767px) {
    body.v2 #payment_request_expiry_date{
        width:92%;
    }
}


 
